.article_tag{
	font-size:16px;
	font-weight:bold;
	padding-top:28px;
	margin-bottom:10px;
	color:#009688;
	float:left;
}
.length{
	width:38%!important;
	margin-right:20px;
	display:inline-block;
	float:left;
}
.length{
	width:38%!important;
	margin-right:20px;
	float:left;
}
.question_head{
	margin:90px 0 0 0;	
}
.question_title{
	font-size:20px;
	font-weight:bold;
	margin-top:40px;
    color:#009688;
}
.question_num{
	font-size:16px;
	padding-top:20px;
	font-weight:400;
}
.question_helper{
	margin-top:8px;
	color:#009688;
}
.answer_option{
	font-size:18px;
	margin:24px 0 0 0;
}
.answer_option_delete{
	margin-top:36px;
}
.answer_box{
	margin:16px 0 0 0;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.tr_th>th,.toolbar_option{
	font-weight:bold;
	font-size:16px!important;
	color:#009688;
}